body{
background-color:#fff;
}

#container{
	WIDTH:17cm;
	font-family: Verdana, Helvetica, sans-serif;
	margin:auto;
	position: absolute; 
	left: 0cm; 
	top: 0px; 
	margin-left: 0px; 
	background-color: #fff;
	padding-left:15px;
	padding-right:15px;
	background-image:;
	/*border:1px solid red;*/

}

#header{
	visibility:hidden;	
}

#content
{	
    MARGIN-LEFT: 0cm;
    WIDTH:17cm;
    MARGIN-RIGHT: 0cm;
	background-color:#FFFFFF;
	position:absolute;
	top:0;
	left:0;
}

#footer{
	visibility:hidden;
}

#navigation
{	visibility:hidden;
}

A.mainlevel, A.mainlevel:link, A.mainlevel:visited
{	visibility:hidden;
}


A.mainlevel:hover
{	visibility:hidden;
}



A.mainlevel_active
{	visibility:hidden;
}


A.sublevel0, A.sublevel0:link, A.sublevel0:visited
{	visibility:hidden;
}

A.sublevel0:hover
{	visibility:hidden;
}

A.sublevel0_active
{	visibility:hidden;
}

A.sublevel1, A.sublevel1:link, A.sublevel1:visited
{	visibility:hidden;

}

A.sublevel1:hover
{
    COLOR: #ff6600
}


A.sublevel1_active
{
	visibility:hidden;
	}



H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 12pt;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px 0px 15px 0px;
    COLOR: #1a3553;
    PADDING-TOP: 0px;
	width:17cm;
    BORDER-BOTTOM: #1a3553 2px solid;
	float:left;
}
h2{
    FONT-SIZE: 10pt;
    COLOR: #333333;
    TEXT-ALIGN: left;
	float:left;
	font-weight:bold;
	margin-bottom:10px !important;
	margin-bottom:5px;
	margin-top:10px;
	width:17cm;
	}



P
{
    FONT-SIZE: 10pt;
    COLOR: #333333;
    TEXT-ALIGN: left;
	width:17cm;
}
p img, p a img{
float:right;
margin:5px;
}
P A:link 
{
    COLOR: #ff6600;
    TEXT-DECORATION: none
}

A 
{
    COLOR: #ff6600;
    TEXT-DECORATION: none
}

ul {
    FONT-SIZE: 10pt;
	margin-left: 16px; 
	PADDING-LEFT: 0px;
	MARGIN-TOP: 5px;
	MARGIN-BOTTOM: 5px;
}

li {
	MARGIN-TOP: 5px;
	margin-left: 0px; 
	PADDING-LEFT: 0px;
}

